<link rel = "icon" href =
https://as2.ftcdn.net/jpg/03/53/52/77/500_F_353527779_h9FNlGjripjl4B44z9Q9uRAcGdqEItAp.jpg
type = "image/x-icon">
<style>
  body {
    background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    background-size: cover;
    font-size: 45px;
  }
  .heads {
    color: rgb(255, 255, 255);
    font-family: monospace;
    
  }
</style>
<body>
  <div style="text-align: center; margin-top: 250px; font-size: 30px">
    <div style="color: bisque;">
      <h1>
        <u style="color: aqua"><em class="heads">about us</em></u>
      </h1>
        <p>Through our site we help our users to monitor the parking slots and their status time to time.</p>
        <p>Any one can register to our site and get the services.</p>
        <p>For that just register to the site and add the details of your vehicles.</p>
        <p>You can book any free slot for your vehicle for which the details are added.</p>
        <p>After booking a slot if you want to free the occupancy or change the slot time you can do that from your logged in home page.</p>
    </div>
  </div>
</body>
