{% load static %}

	<div class="menu_bar">
		<a class="link" href="{% url 'about us' %}">About us</a>
		<div class="dropdown">
			<a class="dropdown_link" href="#">Parking Slots</a>
				<div class="dropdown_content">
					<a href="{% url 'bike_slotStatus' %}">Bike</a>
					<a href="{% url 'slotStatus' %}">Car</a>
				</div>
		</div>
		<a class="link" href="{% url 'userHome' %}">Your Page</a>
	</div>

	<div style="font-style: italic; color: rgb(255, 255, 255); font-size: 50px; margin-top: 300px; text-align: center; font-family: monospace;">
		<p>Online Parking system</p>
	</div>
